.container div {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.child{
  display: flex;
  justify-content: center ;
  align-items: center;
  flex-direction: column;
  border: 1px solid red;
}

